<p>検索Box</p>

<p>友達（<%= @friends.length %>人）</p>

<% @friends.each do |friend| %>
  <li>
  <%= image_tag "https://graph.facebook.com/#{friend.facebook_id}/picture" %>
  <%= link_to friend.name, friend_path(friend) %>
  <%= link_to "Facebook", "https://www.facebook.com/#{friend.facebook_id}", target: :blank %>
  </li>
  <p><%= friend.memo %></p>
  <%= link_to 'Edit', edit_friend_path(friend) %>
<% end %>
